@charset "UTF-8";
.fa-twitter {
  background-color: #55acee;
  content: ""; }

.fa-google {
  background-color: #dd4b39;
  content: ""; }

.fa-facebook {
  background-color: #3b5998;
  content: ""; }

.fa-github {
  background-color: #231f20;
  content: ""; }

.fa-linkedin {
  background-color: #0977b5;
  content: ""; }
